<md-dialog aria-label="Task editor">

        <md-toolbar style = "background-color:#ff0018 ">
            <div class="md-toolbar-tools">
                <h2>Task editor</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout ="column" style="width:800px;height:350px;">
                <md-content layout="row" flex = "100">
                        <md-input-container class="md-block"  flex>
                            <label>Task text</label>
                            <input  id="taskInput" ng-model="newValue"/>
                        </md-input-container>
                </md-content>
            <div flex = "grow"></div>
            <md-dialog-actions layout="row">
                <div flex="grow"></div>
                <md-button ng-click="cancel()">
                    Back
                </md-button>
                <md-button ng-click="addTask(newValue)">
                    Add
                </md-button>
            </md-dialog-actions>
        </md-dialog-content>

</md-dialog>