<md-dialog aria-label="Task editor">
    <form>
        <md-toolbar style = "background-color:#ff0018 ">
            <div class="md-toolbar-tools">
                <h2>Task editor</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:800px;height:350px;">

                <md-content layout ="column" layout-align="stretch stretch">

                        <md-input-container flex>
                            <label>Title</label>
                            <input  id="taskInput" placeholder="Task text" ng-model="task"
                                    ng-click="addTask(task)">
                        </md-input-container>

                            <label></label>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('Cancel')" >
                Cancel
            </md-button>
            <md-button  style="margin-right:20px;" >
                Create
            </md-button>
        </md-dialog-actions>
                    </md-content>
            </md-dialog-content>
    </form>
</md-dialog>