
<!DOCTYPE html>
<html lang="en" ng-app="application" ng-controller = "mainController">
<head>
    <meta charset="UTF-8">
    <title>WebApp</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

</head>
<body style="margin-top: 5%" ng-cloak>

    <div layout = "row" style="height: 100%">

        <div flex = "15"  hide-xs hide-sm hide-md></div>
        <md-tabs flex  md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
            <md-tab id="tab1">
                <md-tab-label>Основные</md-tab-label>
                <md-tab-body  layout="column" style="z-index: 8">

                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="task in tasks" ng-cloak  style ="margin: 5px ">
                                <div  class="md-list-item-text md-whiteframe-2dp "  layout = "row"  layout-align="start center">
                                    <p style="font-size:24px;padding: 10px;color:#81c784" flex = "initial">{{$index+1}}</p>
                                    <p flex = "grow" style="font-size: 22px;font-family: Roboto">{{task.task}}</p>
                                    <div layout = "column">
                                        <md-button class="md-icon-button " ng-click="showAdvanced($event,$index)" >
                                            <i class="material-icons " style="font-size: 24px;color: #81c784;">edit</i>
                                        </md-button>
                                        <md-button class="md-icon-button " ng-click="delete($index)" >
                                            <i class="material-icons " style="font-size: 24px;color: #81c784;">delete</i>
                                        </md-button>
                                    </div>
                                    <div layout = column  layout-align="center center">

                                        <md-button class="md-icon-button " ng-click="delete($index)" >
                                            <i class="material-icons " style="font-size: 24px;color: #81c784;">share</i>
                                        </md-button>
                                    </div>

                                </div>
                            </md-list-item>
                        </md-list>
                        <div layout = "row" layout-align = "center" style="margin: 10px">
                            <md-button class="md-icon-button md-whiteframe-2dp" style = "background-color: #81c784" aria-label="Favorite" ng-click="showAdvanced($event)">
                                <i class="material-icons orange600" style="font-size: 24px;color: #f8f7ff;">add</i>
                            </md-button>
                        </div>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab2" ng-disabled="data.secondLocked">
                <md-tab-label>Задачи друзей</md-tab-label>
                <md-tab-body>

                </md-tab-body>
            </md-tab>

        </md-tabs>














        <div flex = "15"  hide-xs hide-sm hide-md></div>

    </div>





</body>
</html>