
<!DOCTYPE html>
<html lang="en" ng-app="application" ng-controller = "mainController">
<head>
    <meta charset="UTF-8">
    <title>WebApp</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

</head>
<body style="margin-top: 5%" ng-cloak>

    <div layout = "row" style="height: 100%">

        </md-sidenav>
        <div flex = "15"  hide-xs hide-sm hide-md></div>
        <div flex layout="column" style="z-index: 8">
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="task in tasks" ng-cloak  style ="margin: 5px ">
                    <div  class="md-list-item-text md-whiteframe-2dp "  layout = "row"  layout-align="start center">
                        <p style="font-size:24px;padding: 10px;color:#81c784" flex = "initial">{{$index+1}}</p>
                        <p flex = "grow" style="font-size: 22px;font-family: Roboto">{{task.task}}</p>
                        <div layout = "column">
                            <md-button class="md-icon-button " ng-click="showAdvanced($event,$index)" >
                                <i class="material-icons " style="font-size: 24px;color: #81c784;">edit</i>
                            </md-button>
                            <md-button class="md-icon-button " ng-click="delete($index)" >
                                <i class="material-icons " style="font-size: 24px;color: #81c784;">delete</i>
                            </md-button>
                        </div>
                        <div layout = column  layout-align="center center">

                            <md-button class="md-icon-button " ng-click="delete($index)" >
                                <i class="material-icons " style="font-size: 24px;color: #81c784;">share</i>
                            </md-button>
                        </div>

                    </div>
                </md-list-item>
            </md-list>
            <div layout = "row" layout-align = "center" style="margin: 10px">
                <md-button class="md-icon-button md-whiteframe-2dp" style = "background-color: #81c784" aria-label="Favorite" ng-click="showAdvanced($event)">
                    <i class="material-icons orange600" style="font-size: 24px;color: #f8f7ff;">add</i>
                </md-button>
            </div>
        </div>
        <div flex = "15"  hide-xs hide-sm hide-md ng-click="openLeftMenu()"></div>
        <md-sidenav  md-component-id="left" class="md-sidenav-left" style = "background-color: rgb(249, 255, 251);z-index : 59">
            <md-content  layout = "column" layout-align = "start center" style="height: 100%;">
                <div flex = "10"></div>
                <ng-letter-avatar ng-if="user.ok" data="{{user.name}}"  alphabetcolors="customColors" shape = "round" fontsize="150" height = "200" width = "200"></ng-letter-avatar>
               <div layout = "row" layout-align="start center">
                    <md-input-container    >
                        <label>Add friend</label>
                        <input  ng-model="friendName"/>
                    </md-input-container>
                    <md-button class="md-icon-button " ng-click="addFriend(friendName)" >
                        <i class="material-icons" style=";color: #81c784;">person_add</i>
                    </md-button>
                </div>


                <md-list style="width: 100%">
                    <md-subheader ng-show="user.friends.friends.length>0" class="md-no-sticky">Friends</md-subheader>
                    <md-list-item ng-repeat="friend in user.friends.friends" layout="row" >
                        <div flex="10"></div>
                        <p flex = "initial" >{{friend}}</p>
                        <div flex></div>
                        <md-button flex="initial" class="md-icon-button " ng-click="deleteFriend($index)" ><i class="material-icons" style="font-size: 24px;color:#4caf50">delete</i>
                        </md-button>

                    </md-list-item>
                    <md-subheader ng-show="user.friends.requestsToUser.length>0" class="md-no-sticky">Wanna be friends</md-subheader>
                    <md-list-item  ng-repeat="requestToUser in user.friends.requestsToUser" layout="row">
                            <div flex="10"></div>
                            <p flex = "initial" >{{requestToUser}}</p>
                            <div flex></div>
                            <md-button flex="initial" class="md-icon-button " ng-click="acceptFriendRequest($index)" ><i class="material-icons" style="font-size: 24px;color:#4caf50">add</i>
                            </md-button>

                    </md-list-item>
                    <md-subheader ng-show="user.friends.requestsFromUser.length>0" class="md-no-sticky">Invited</md-subheader>

                    <md-list-item  ng-repeat="requestFromUser in user.friends.requestsFromUser" layout="row" style="padding: 0px">
                        <div flex="10"></div>
                        <p flex = "initial">{{requestFromUser}}</p>
                        <div flex></div>
                        <md-button flex="initial" class="md-icon-button " ng-show="authorized" ><i class="material-icons" style="font-size: 24px;color:#4caf50">timelapse</i>
                        </md-button>

                    </md-list-item>
                </md-list>



            </md-content>
        </md-sidenav>
    </div>





</body>
</html>