<!doctype html >
<html>
<head>
    <meta name="viewport"content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Hello AngularJS</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <base href="/">
</head>
<body  ng-app="application"  ng-controller = "navBar" ng-cloak>


<md-toolbar class =" md-whiteframe-5dp"  style = "background-color: rgba(76, 175, 80, 0.76); z-index: 60" >
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button " ng-show="authorized" ng-click="openLeftMenu()"><i class="material-icons" style="font-size: 24px;color:white">menu</i>
        </md-button>
        <h2 style="color: white">
            <span>Task List</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button " ng-show="authorized" ng-click="logout()"><i class="material-icons" style="font-size: 24px;color:white">exit_to_app</i>
        </md-button>
    </div>
</md-toolbar>

<md-content  style=" height: calc(100% - 64px);">
    <md-sidenav  md-component-id="left" class="md-sidenav-left" style = "background-color: rgb(249, 255, 251);z-index : 59">
        <md-content  layout = "column" layout-align = "start center" style="height: 100%;">
            <div flex = "10"></div>
            <ng-letter-avatar ng-if="user.loaded"  data="{{user.username}}" alphabetcolors="customColors" shape = "round" fontsize="150" height = "200" width = "200"></ng-letter-avatar>
            <div layout = "row" layout-align="start center">
                <md-input-container    >
                    <label>Add friend</label>
                    <input  ng-model="friendName"/>
                </md-input-container>
                <md-button class="md-icon-button " ng-click="addFriend(friendName)" >
                    <i class="material-icons" style=";color: #81c784;">person_add</i>
                </md-button>
            </div>

            <md-list style="width: 100%">
                <md-subheader ng-show="user.friends.friends.length>0" class="md-no-sticky">Friends</md-subheader>
                <md-list-item ng-repeat="friend in user.friends.friends" layout="row" >
                    <div flex="10"></div>
                    <p flex = "initial" >{{friend}}</p>
                    <div flex></div>
                    <md-button flex="initial" class="md-icon-button " ng-click="deleteFriend($index)" ><i class="material-icons" style="font-size: 24px;color:#4caf50">delete</i>
                    </md-button>

                </md-list-item>
                <md-subheader ng-show="user.friends.requestsToUser.length>0" class="md-no-sticky">Wanna be friends</md-subheader>
                <md-list-item  ng-repeat="requestToUser in user.friends.requestsToUser" layout="row">
                    <div flex="10"></div>
                    <p flex = "initial" >{{requestToUser}}</p>
                    <div flex></div>
                    <md-button flex="initial" class="md-icon-button " ng-click="acceptFriendRequest($index)" ><i class="material-icons" style="font-size: 24px;color:#4caf50">add</i>
                    </md-button>

                </md-list-item>
                <md-subheader ng-show="user.friends.requestsFromUser.length>0" class="md-no-sticky">Invited</md-subheader>

                <md-list-item  ng-repeat="requestFromUser in user.friends.requestsFromUser" layout="row" style="padding: 0px">
                    <div flex="10"></div>
                    <p flex = "initial">{{requestFromUser}}</p>
                    <div flex></div>
                    <md-button flex="initial" class="md-icon-button " ng-show="authorized" ><i class="material-icons" style="font-size: 24px;color:#4caf50">timelapse</i>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <div ng-view style="height: 100%"></div>
</md-content>

<!--<div ng-controller="navigation" class="container">
    <ul class="nav nav-pills" role="tablist">
        <li ng-class="{'active' : active}"><a href="/home">home</a></li>
        <li ng-class="{'active' : !active}"><a href="/login">login</a></li>
    </ul>
</div>-->



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="/angular-route.min.js"></script>
<script src="/ngletteravatar.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
<script src="/indexScript.js"></script>

</body>
</html>
