<html ng-app="application" controller = "authorization">
<head>
</head>
<body ng-cloak>
<div layout = "row" style="height: 100%">
    <div flex = "30"  hide-xs hide-sm hide-md></div>
    <div flex="noshrink" layout="column" layout-align = "center">
                <div flex hide-xs hide-sm hide-md></div>
                <md-input-container >
                    <label>Username</label>
                    <input ng-model="credentials.username"/>
                </md-input-container>
                <md-input-container  style="border-color: #ff0112">
                    <label>Password</label>
                    <input  type="password"  ng-model = "credentials.password"/>
                </md-input-container>
                <md-button class="md-accent"  ng-click="authorization(credentials)">
                    Log In
                </md-button>

                    <md-button class="md-accent" ng-href="/signIn">

                        Sign In
                    </md-button>


                <div flex ></div>
    </div>
    <div flex = "30"  hide-xs hide-sm hide-md ></div>
</div>
</body>
</html>